{
  "opacity": 0.95,
  "font_size": 11,
  "max_messages": 30,
  "max_message_length": 500,
  "sample_rate": 16000,
  "record_duration": 300,
  "energy_threshold": 300,
  "pause_threshold": 0.8,
  "selected_mic_index": 0,
  "listen_timeout": 10,
  "phrase_time_limit": 10,
  "auto_hide_duration": 0,
  "output_interface": true,
  "output_clipboard": true,
  "output_text_cursor": false,
  "hotkey": "ctrl+shift+win+f5",
  "window_offset_from_bottom": 400,
  "manager_sleep_interval": 3.0,
  "startup_delay": 2.8,
  "clipboard_copy_delay": 0.15,
  "paste_delay": 0.1,
  "language": "ru",
  "enable_hotkey_stop_recording": true
}