PyAudio
PyAutoGUI
PyQt5
numpy
pyglet
telegram
pypiwin32
pyperclip
openai
keyboard
gTTS
DearWidgetTemplate @ git+https://github.com/haqury/DearWidgetTemplate@0.1
DearWidgetTemplate @ git+https://github.com/haqury/SpeachToTextWidget@0.1
