PyAutoGUI
PyQt5
numpy
pyglet
telegram
pywin32
pyperclip
openai
keyboard
gTTS
speechrecognition
DearWidgetTemplate @ git+https://github.com/haqury/DearWidgetTemplate@v0.0.1
SpeachToTextWidget @ git+https://github.com/haqury/SpeachToTextWidget@v0.0.1
ConfigManager @ git+https://github.com/haqury/ConfigManager@v0.0.1
DeskManager @ git+https://github.com/haqury/DeskManager@v0.0.1